# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [1]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [2]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high     11
1  banana  medium      9
2  orange     low     11
3   apple    high     14
4  banana  medium      8
5  orange     low      1
6   apple    high      3
7  banana  medium      4
8  orange     low     14
    fruit weight  price
0   apple   high     11
1  orange    low      7
2    pine   high      7
3   apple    low      5
4  orange   high      8
5    pine    low     12

In [3]:
# - 依照 fruit 欄位做合併
pd.merge(df1, df2, on = 'fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high       11     high       11
1    apple     high       11      low        5
2    apple     high       14     high       11
3    apple     high       14      low        5
4    apple     high        3     high       11
5    apple     high        3      low        5
6   orange      low       11      low        7
7   orange      low       11     high        8
8   orange      low        1      low        7
9   orange      low        1     high        8
10  orange      low       14      low        7
11  orange      low       14     high        8

In [4]:
# - 依照 index 索引做合併(= 同index的合併在一起 = 左右合併)
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['fruit', 'weight', 'price'], dtype='object')

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [5]:
# 因為.merge()的parameter default how = 'inner'，只會留下df1和df2都有的key之比較
# 完整保留：指定how = 'outer'
pd.merge(df1, df2, on = 'fruit', how = 'outer')

     fruit weight_x  price_x weight_y  price_y
0    apple     high     11.0     high     11.0
1    apple     high     11.0      low      5.0
2    apple     high     14.0     high     11.0
3    apple     high     14.0      low      5.0
4    apple     high      3.0     high     11.0
5    apple     high      3.0      low      5.0
6   banana   medium      9.0      NaN      NaN
7   banana   medium      8.0      NaN      NaN
8   banana   medium      4.0      NaN      NaN
9   orange      low     11.0      low      7.0
10  orange      low     11.0     high      8.0
11  orange      low      1.0      low      7.0
12  orange      low      1.0     high      8.0
13  orange      low     14.0      low      7.0
14  orange      low     14.0     high      8.0
15    pine      NaN      NaN     high      7.0
16    pine      NaN      NaN      low     12.0

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

因為df1和df2的column name有重複，在.join()中，若不特別說明重複col如何處理，就會產生error（不像merge會自動補_x、_y）

In [6]:
df1.join(df2, lsuffix = '_df1', rsuffix = '_df2')

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high         11     apple       high       11.0
1    banana     medium          9    orange        low        7.0
2    orange        low         11      pine       high        7.0
3     apple       high         14     apple        low        5.0
4    banana     medium          8    orange       high        8.0
5    orange        low          1      pine        low       12.0
6     apple       high          3       NaN        NaN        NaN
7    banana     medium          4       NaN        NaN        NaN
8    orange        low         14       NaN        NaN        NaN